body
{
	font-family: Tahoma;
	font-size: smaller;
}
div
{
	padding-left: 10px;	
	padding-top: 5px;	
	padding-bottom: 5px;	
}

html,
body
{
	height: 100%;

	color: white;

	background: url(darth-vader-godfather-1920x1080.jpeg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/* Wrapper for page content to push down footer */
#wrap
{
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/* Negative indent footer by it's height */
	margin: 0 auto -60px;
}
/* Set the fixed height of the footer here */
#push,
#footer
{
	height: 60px;
}
#footer
{
}